# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs
godot-client/assets/hero/hero_factory_advanced.png.import
/godot-client/assets
/godot-client/assets
*.sql
BUG_FIXES_SUMMARY.md
/godot-client/addons
/godot-client/demo
/godot-client/shaders
*.tmp
